@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MaterialIcons/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/MaterialIcons/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/MaterialIcons/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/MaterialIcons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

body {
    font-family: 'Roboto', Fallback, sans-serif;
    margin: 0;
}

.content-container {
    width: auto;
    height: 100vh;
    overflow: hidden;
}

.page-body {
    padding: 3%;
}

.progress-bar-container {
    width: 50%;
    padding-bottom: 10px;
}

.dropzone-div {
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
}

.left-nav-closed {
    width: 0;
}

.transfers {
    overflow-y: auto;
    width: auto;
    height: 480px;
}

/* Torrent Component */
.torrent-row {
    padding-left: 2%;
    padding-right: 2%;
}

.torrent-name {
    font-size: 14px;
}

.torrent-progress {
    font-size: 10px;
}

.torrent-status {
    font-size: 10px;
}

.torrent-body {
    width: 90%;
    overflow: auto;
}

.torrent-info {
    width: 75%;
    display: inline-block;
    cursor: pointer;
}

.torrent-actions {
    width: 15%;
    display: inline-block;
    position: relative;
    bottom: 6px;
    left: 20px;
}

.torrent-selected {
    background-color: antiquewhite;
}

.torrent-select {
    width: 5%;
    float: left;
    margin-top: 30px;
    margin-right: 10px;
}



/*@media (max-width: 600px) {*/
    /*.torrent-actions {*/
        /*display: inline-block;*/
        /*float: right;*/
        /*position: relative;*/
        /*top: 45px;*/
        /*right: 20px;*/
    /*}*/
/*}*/


.torrent-actions .material-icons {
    margin-left: 15px;
}

.action-button {
    cursor: pointer;
}

.empty-transfers {
    position: relative;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    border-radius: 3px;
    cursor: default;
}

.empty-transfers-msg {
    text-align: center;
    padding-top: 20%;
    color: rgba(0, 0, 0, 0.25)
}

.close-button {
    overflow: auto;
    position: relative;
    top: 1em;
}